@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.boton1 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 20px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa  {
  color: #EF3B3A;
}
body {
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgb(194, 162, 56) 0%, rgb(82, 101, 184) 50%);
  font-family: "Roboto", sans-serif;   
  margin: 20px auto; 
}

.enlace{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
.enlace:hover{
  color: #1883ba;
  background-color: #ffffff;
}

.botones{
  margin-bottom: 25px;
}


select {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input:hover, select:hover {
  border: 2px solid rgba(46, 120, 231, 0.445);
}


#actualizado, #esconder{
  color: #ba1818;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: none;
}




table {
  
  background: white;
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  border-collapse: separate;
  text-align: center;
}

th {
  font-weight: bold;
  background: #98ca3a;
  height: 35px;
  border-bottom: 1px solid rgb(210, 220, 250);
  color: rgb(255, 255, 255);
  border: 0.2px solid rgba(240, 240, 240, 10);
}

td {
  color: rgba(100, 100, 100, 60);
  height: 30px;
  border: 0.2px solid rgba(240, 240, 240, 10);
}

tr:nth-child(even) {
  background-color: #cff1d1;
}



tr:hover {
  background-color: #afafaf;
}

#text_n{
  font-weight: bold;
  text-align: center;
}

#lista_libros{
  margin-top: 2%;
  margin-bottom: 2%;
}